<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.weige.UI">


    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取Log-->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppThemeDemo"
        tools:ignore="GoogleAppIndexingWarning">
        <!--注册界面-->
        <activity android:name=".RegisterActivity"
            android:label="注册">
        </activity>

        <!-- 登录界面 -->
        <activity android:name=".LoginActivity"
            android:label="登录"/>


        <!-- 闪屏 -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NOActionFillscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 引导页 -->
        <activity
            android:name=".GuigeActivity"
            android:theme="@style/NOActionFillscreen" />

        <!-- 设置页面 -->
        <activity android:name=".SettingActivity" />

        <!-- 主屏页面 -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyAppThemeDemo" >

        </activity>


        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.weige.demowork.BmobContentProvider">
        </provider>
    </application>

</manifest>